@media only screen and (max-width: 1150px) {
    .main-body .middle .all-comps .cards .card .price-bt {
        padding: 0 3rem 0 1.5rem;
    }

}

@media only screen and (max-width: 1050px) {
    .header-era .brand-images >img{
        height: 42px;
    }
    .main-body .middle .all-comps .cards .card .price-bt {
        padding: 0 1.8rem 0 1rem;
    }
}

@media only screen and (max-width: 944px) {
    .header-era .nav-and-info {
        padding: 2.75rem 1rem 8rem;
    }
    .main-body .middle {
        margin: 3.75rem 1rem;
    }
    .end-era .stay-with {
        padding: 6rem 1rem;
    }
    .header-era .head-info .title {
        font-size: 3rem;
    }
    .main-body .middle .all-comps .titles .big {
        font-size: 3.5rem;
    }
    .main-body .middle .all-comps .cards .card .card-body {
        padding: 1rem 0.8rem;
    }
    .main-body .middle .all-comps .cards .card .price-bt {
        padding: 0 1.2rem 0 1rem;
        margin-left: -1rem;
    }
    .main-body .middle .all-comps .cards .card .price-bt >h1{
        font-size: 2rem;
    }
    .end-era .stay-with {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .header-era .brand-images >img{
        height: 34px;
    }
    .header-era .navbar .nav-item .btn {
        padding: 0 2.75rem;
    }
    .main-body .middle .all-comps .cards .card {
        margin: 4rem 8px;
    }
    .main-body .middle .all-comps .cards .card .price-bt {
        padding: 0 1.3rem 0 1rem;
    }
    .main-body .middle .all-comps .cards .card .id-no {
        font-size: 1rem;
    }
    .main-body .middle .all-comps .cards .card .info{
        font-size: 1.4rem;
    }
    .main-body .middle .all-comps .cards .card .price-bt >h1
    {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 576px) {
    .header-era .navbar .navbar-brand {
        font-size: 2rem;
    }
    .header-era .head-info .title {
        font-size: 2.5rem;
    }
    .header-era .head-info .lines {
        font-size: 1.2rem;
    }
    .header-era .head-info .vert {
        font-size: 1.3rem;
    }
    .header-era .brand-images {
        padding: 0.5rem 1rem;
    }
    .header-era .brand-images >img{
        height: 24px;
    }
    .main-body .middle .all-comps .cards .card .price-bt {
        padding: 0 5.6rem 0 1.8rem;
    }
    .main-body .middle .all-comps .cards .card .id-no {
        font-size: 1.6rem;
    }
    .main-body .middle .all-comps .cards .card .info{
        font-size: 2rem;
    }
    .main-body .middle .all-comps .cards .card .price-bt >h1
    {
        font-size: 2.5rem;
    }
}