/* Fonts and variables */

@font-face{
  font-family: Calibri;
  src: url(../fonts/calibri.ttf);
}
@font-face{
  font-family: CalibriL;
  src: url(../fonts/calibri-light.ttf);
}
@font-face {
  font-family: ArialRMTB;
  src: url(../fonts/Arial-Rounded-MT-Bold.TTF);
}
@font-face {
  font-family: Bahn;
  src: url(../fonts/Bahnschrift.ttf);
}

body {
  width: 100%;
}

:root {
  --rgb-black : 0, 0, 0;
  --rgb-dblue : 0, 35, 152;
  --rgb-white : 255, 255, 255;
  --rgb-lavender : 150, 113, 234;
  --rgb-banana : 146, 208, 80;
  --rgb-banana-light : 226, 240, 217;
  --color-black : rgb(var(--rgb-black));
  --color-white : rgb(var(--rgb-white));
  --color-banana : rgb(var(--rgb-banana));
  --color-ban-light : rgb(var(--rgb-banana-light));
  
  --head-cover : url(../images/4.jpg);
  --old-man : url(../images/12.jpg);

  --gradient-mini-nav : linear-gradient(rgba(var(--rgb-black), 0.15),
  rgba(var(--rgb-black), 0.15));
  --gradient-sidebar : linear-gradient(rgba(var(--rgb-dblue), 1.0),
  rgba(var(--rgb-lavender), 1.0));
  --gradient-sidebar-sleep : linear-gradient(rgba(var(--rgb-white), 0.39),
  rgba(var(--rgb-white), 0.39));
  --gradient-btn-sleep : linear-gradient(rgba(var(--rgb-white), 0.21),
  rgba(var(--rgb-white), 0.21));

  --shadow : 0.3rem 0.3rem 4pt rgba(var(--rgb-code), var(--opacity-2));
  --shadow-card : 9pt 9pt 18pt rgba(var(--rgb-black), 0.24);
  --border-primary : 0.2rem solid var(--color-primary);
  --border-rgb : 0.2rem solid var(--color-rgb);
}

.row {
  display: flex;
  margin: 0;
  padding: 0;
}

.vertical-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 4.2rem;
  left: 0;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.vertical-nav li a {
  background: var(--gradient-mini-nav);
  display: block;
  padding: 4rem 1rem;
}

.upper .vertical-nav .garbage {
  background: var(--gradient-mini-nav);
}

.vertical-nav li a:hover:not(.active) {
  background: var(--gradient-sidebar);
}

.vertical-nav li a img {
  width: 2rem;
}

.sidenav {
  display: none;
  max-width: 22rem;
  background: var(--gradient-sidebar);
  margin-left: -4.2rem;
  position: relative;
  top: 0;
  left: 0;
  transition: display 2s;
  z-index: 1;
}

.sidenav .task-card {
  margin: 1rem 2rem;
  margin-left: 5.4rem;
  font-family: Calibri;
  font-size: 1.2rem;
  font-weight: bold;
  background: var(--gradient-sidebar-sleep);
  color: var(--color-white);
}

.sidenav .card-profile {
  text-align: center;
  background: none;
  margin: 3rem 1.2rem;
  margin-left: 4.2rem;
  font-family: CalibriL;
  font-size: 1rem;
  color: var(--color-white);
  border: none;
}

.sidenav .card-profile .card-title {
  font-size: 2rem;
  text-shadow: 2pt 2pt 3pt rgba(0, 0, 0, .43);
}

.sidenav .card-profile .date {
  font-size: 1.2rem;
}

.sidenav .card-profile .btns {
  padding: 2rem 0;
}

.sidenav .card-profile .btns button {
  background: var(--gradient-btn-sleep);
  width: 2.8rem;
  height: 2.8rem;
  margin: 0 4px;
}

.sidenav .card-profile .btns button.active{
  background-color: rgb(var(--rgb-white));
}

.sidenav .card-profile .propic {
  width: 100px;
  height: 100px;
  margin: 1rem auto;
  position: relative;
}

.sidenav .card-profile .propic .pic-border{
  width: 200px;
  height: 200px;
}

.sidenav .card-profile .propic .thepic{
  width: 100px;
  height: 100px;
  background-image: var(--old-man);
  background-position: 45% 50%;
  background-size: cover;
  clip-path: circle(50% at 50% 50%);
}

.sidenav .task-card .column-1 {
  width: 20%;
  text-align: right;
}

.sidenav .task-card .column-1 input {
  position: relative;
  margin-right: 12px;
  outline: 2px solid var(--color-white);
  background-color: aqua;
  z-index: -52;
  padding-right: 8px;
  color: var(--rgb-black);
}

.sidenav .task-card .column-2 {
  width: 80%;
}

.main-body {
  padding: 3rem 3rem;
  font-family: ArialRMTB;
  transition: margin-left 0.5s;
}

.main-body .top-badges .badge {
  background-color: rgb(255, 203, 224);
  font-family: Calibri;
  font-weight: bold;
  color: rgb(255, 122, 173);
  margin: 1rem 2px;
  width: 8rem;
  padding: 6px 12px;
  font-size: 1.4rem;
}

.main-body .title {
  font-size: 2.44rem;
  line-height: 100%;
}

.main-body .subtext {
  font-size: 1.4rem;
}

.main-body .card {
  box-shadow: var(--shadow-card);
  border: none;
}

.main-body .card .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-body .card .full-name {
  font-size: 1.4rem;
}

.main-body .card .badge {
  background-color: var(--color-ban-light);
  color: var(--color-banana);
}

.main-body .card .propic img{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid var(--color-banana);
  margin-left: -1.6rem;
}

.main-body .card-2 .card-title {
  font-size: 2.6rem;
}

.main-body .card-2 .card-text {
  font-size: 1.4rem;
}

.main-body .card-2 img{
  border-radius: 8px;
  height: 12rem;
  width: 100%;
}

/* Footer */

footer{
  background-color: rgb(23, 45, 56);
  color : var(--color-white);
  font-family: Bahn;
  font-weight: lighter;
  z-index: 5;
}

.end-era {
  padding: 2rem 4.2rem;
}

.end-era .one {
  border-left: 8px solid var(--color-white);
  padding: 1.4rem 1.4rem;
}
.end-era .three {
  padding: 1.4rem 1.4rem;
  border-right: 8px solid var(--color-white);
}
.end-era .two {
  background-color: var(--color-white);
  max-width: 8px;
  padding: 0 0;
  height: auto;
}