@media only screen and (max-width: 1200px) {
    .middle-body .first-col .card-title{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 1100px) {
    .header-era .main-head .nav-item .nav-link{
        margin-left: 0;
    }
    .middle-body .first-col .card-title{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .header-era .main-head .nav-item .nav-link{
        padding: 0 0.5rem;
    }
    .header-era .main-head {
        padding: 3rem 1rem;
    }
    .header-era .body-head .card {
        width: 16rem;
        left: 20%;
    }
    .header-era .body-head .join-but {
        padding: 0.5rem 4rem;
    }
    .middle-body .continer {
        padding: 3rem 1rem 2rem;
    }
    .middle-body .first-col .card {
        margin: 0 0.3rem;
    }
    .middle-body .first-col .card-title{
        margin: 1rem 0.4rem;
    }
    .middle-body .first-col .card-title >span {
        scale: 1.3;
    }
    .middle-body .first-col .card-no .aro-icon {
        width: 3.4rem;
        height: 1.2rem;
    }
    .end-era .root {
        padding: 3.5rem 1rem 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .header-era .body-head .right {
        padding-top: 2rem;
    }
    .header-era .body-head .join-but {
        display: block;
        margin: 0 auto;
    }
    .header-era .body-head .card {
        width: 18rem;
        left: 20%;
    }
    .header-era .main-head .navbar-nav .nav-item {
        display: block;
        margin: 0 auto;
    }
    .middle-body .first-col .card,
    .middle-body .second-col .card {
        margin-bottom: 1rem;
    }
    .middle-body .first-col .card-title{
        margin: 1.4rem 1.4rem;
        font-size: 1.6rem;
    }
    .middle-body .first-col .card-title >span {
        scale: 2;
    }
    .end-era .col-md-4 {
        padding-top: 1rem;
    }
    .end-era .end-note {
        font-size: 1.4rem;
    }
}